# Env variables
.env


# Python

## environments
.venv

## bytecode
*.pyc
*.pyo

## cache
**/__pycache__/

## python version
.python-version

## packaging
*.egg-info/
build/
dist/


# Docker stuff
.volumes
docker-entrypoint-initdb.d

# local dev stuff
local/
sampleDB

# IDE/Code specific
.idea
.atom
